{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>MiBanco - Equipo 2</h1>
    <p class="lead">Proyecto Final - Maestria en Ciencia de Datos - Bases de datos Relacionales - Equipo 2</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Nuestro proyecto es una aplicacion de banco que busca poder realizar el analisis de la rentabilidad de un cliente de blanco a la hora de solicitar un credito.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Detalles</h2>
        <p>Haga clic en el boton de abajo para ver los detalles tecnicos de la aplicacion.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Detalles &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Equipo</h2>
        <p>Aqui encontrara los nombres de los integrantes del equipo.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Equipo &raquo;</a></p>
    </div>
</div>

{% endblock %}
